<f:layout name="Default" />
<f:section name="headline">
	<f:if condition="{id}">
		<h1>Verfügbare Daten</h1>
	</f:if>
</f:section>
<f:section name="content">
	<f:be.container>
			<f:if condition="{id}">
				<f:then>
					<f:for each="{datasets}" as="dataset">
						<dl>
							<dt>{dataset.label}</dt>
							<dd>
								<f:if condition="{dataset.count}">
									<f:then>
										<p>
											{dataset.count} Datensätze
											<f:if condition="{dataset.count} > 0"><br>
												<f:link.action action="export" arguments="{config: dataset.config}" style="color:0000ff;">Export</f:link.action>
											</f:if>
										</p>
									</f:then>
									<f:else>
										<f:for each="{dataset.options}" as="option" key="title">
											<p>
												<f:if condition="{option.count} > 0">
													{dataset.count} {title}
													<f:link.action action="export" arguments="{config: dataset.config, value:title}">Export</f:link.action>
												</f:if>
											</p>
										</f:for>
									</f:else>
								</f:if>
							</dd>
						</dl>
					</f:for>
				</f:then>
				<f:else>
					<f:be.infobox title="" state="-1">
						Bitte links eine Seite aussuchen
					</f:be.infobox>
				</f:else>
			</f:if>
	</f:be.container>
</f:section>
